<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scaffolding.demo.mapper.SysUserMapper">

    <select id="list" resultType="com.scaffolding.demo.entity.SysUser">
        select * from sys_user
        <include refid="whereif"></include>
        <if test="offset != null and size != null and size != 0">
            limit #{offset}, #{size}
        </if>
    </select>

    <select id="count" resultType="java.lang.Integer">
        select count(id) from sys_user
        <include refid="whereif"></include>
    </select>

    <sql id="whereif">
        <where>
            <if test="username != null and username != ''">
                and user_name = #{username}
            </if>
            <if test="startTime != null and startTime != '' and endTime != null and endTime != ''">
                and login_date between #{startTime} and #{endTime}
            </if>
        </where>
    </sql>

</mapper>